<thead>
<tr>
    <th width="32mm" style="border-right: 1px solid #ffffff; background-color: #154251; color: #ffffff;">
        <f:translate
                key="LLL:EXT:invoicr/Resources/Private/Language/locallang.xlf:tx_invoicr_domain_model_item.sku"/>
    </th>
    <th width="70mm" style="border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; background-color: #154251; color: #ffffff;">
        <f:translate
                key="LLL:EXT:invoicr/Resources/Private/Language/locallang.xlf:tx_invoicr_domain_model_item.title"/>
    </th>
    <th width="26mm" style="border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; background-color: #154251; color: #ffffff;">
        <f:translate
                key="LLL:EXT:invoicr/Resources/Private/Language/locallang.xlf:tx_invoicr_domain_model_item.price"/>
    </th>
    <th width="13mm" style="border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; background-color: #154251; color: #ffffff;">
        <f:translate
                key="LLL:EXT:invoicr/Resources/Private/Language/locallang.xlf:tx_invoicr_domain_model_item.quantity"/>
    </th>
    <th width="26mm" style="border-left: 1px solid #ffffff; background-color: #154251; color: #ffffff;">
        <f:translate
                key="LLL:EXT:invoicr/Resources/Private/Language/locallang.xlf:tx_invoicr_domain_model_item.total_price"/>
    </th>
</tr>
</thead>