<p>
	<label for="itemNumber">
		<f:translate key="tx_invoicr_domain_model_item.sku" />
	</label>
	<f:form.textfield property="sku" />
</p>

<p>
	<label for="title">
		<f:translate key="tx_invoicr_domain_model_item.title" />
	</label>
	<f:form.textfield property="title" />
</p>

<p>
	<label for="description">
		<f:translate key="tx_invoicr_domain_model_item.description" />
	</label>
	<f:form.textarea property="description" cols="40" rows="15" />
</p>

<p>
	<label for="title">
		<f:translate key="tx_invoicr_domain_model_item.quantity" />
	</label>
	<f:form.textfield property="quantity" />
</p>

<p>
	<label for="title">
		<f:translate key="tx_invoicr_domain_model_item.price" />
	</label>
	<f:form.textfield property="price" />
</p>

<p>
	<label for="title">
		<f:translate key="tx_invoicr_domain_model_item.tax" />
	</label>
	<f:form.textfield property="tax" />
</p>