<f:layout name="Default"/>

<f:section name="actions">
    <a class="btn btn-default btn-sm"
       href="{f:uri.action(action:'list')}">
        <core:icon identifier="actions-close" />
    </a>
    <a class="btn btn-default btn-sm"
       href="{f:uri.action(action:'show', arguments:{invoice : invoice})}">
        <core:icon identifier="actions-view" />
    </a>
</f:section>

<f:section name="content">
    <f:flashMessages />

    <f:render partial="FormErrors" arguments="{object:Invoice}"/>

    <f:form action="update" name="invoice" object="{invoice}">
        <f:render partial="Invoice/FormFields" arguments="{invoice:invoice}"/>
        <f:form.submit value="Save"/>
    </f:form>
</f:section>