<f:layout name="Default"/>

<f:section name="actions">
    <a class="btn btn-default btn-sm"
       href="{f:uri.action(action:'list')}">
        <core:icon identifier="actions-close" />
    </a>
    <a class="btn btn-default btn-sm"
       href="{f:uri.action(action:'edit', arguments:{invoice: invoice})}">
        <core:icon identifier="actions-open" />
    </a>

    <f:link.action class="btn btn-default btn-sm" action="generateInvoiceDocument" arguments="{invoice: invoice}">
        <f:translate key="tx_invoicr.controller.invoice.action.generateInvoiceDocument"/>
    </f:link.action>

    <f:if condition="{invoice.invoicePdfs}">
        <f:link.action class="btn btn-default btn-sm" action="downloadInvoiceDocument" arguments="{invoice: invoice}">
            <f:translate key="tx_invoicr.controller.invoice.action.downloadInvoiceDocument"/>
        </f:link.action>
    </f:if>
</f:section>

<f:section name="content">
    <f:flashMessages />

    <f:render partial="Invoice/Properties" arguments="{invoice:invoice}"/>

    <div>
        <f:if condition="{invoice.contentAbobe}">
            <f:format.raw>{invoice.contentAbobe}</f:format.raw>
        </f:if>
    </div>

    <table class="tx_invoicr_item typo3-dblist typo3-dblist table table-striped table-hover">
        <thead>
            <tr class="t3-row-header">
                <th>
                    <f:translate key="tx_invoicr_domain_model_item.sku"/>
                </th>
                <th>
                    <f:translate key="tx_invoicr_domain_model_item.title"/>
                </th>
                <th>
                    <f:translate key="tx_invoicr_domain_model_item.quantity"/>
                </th>
                <th>
                    <f:translate key="tx_invoicr_domain_model_item.price"/>
                </th>
                <th>
                    <f:translate key="tx_invoicr_domain_model_item.total_price_net"/>
                </th>
                <th>
                    <f:translate key="tx_invoicr_domain_model_item.tax"/>
                </th>
                <th>
                    <f:translate key="tx_invoicr_domain_model_item.total_price_gross"/>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{invoice.items}" as="item">
                <tr>
                    <td>
                        {item.sku}
                    </td>
                    <td>
                        {item.title}
                    </td>
                    <td>
                        {item.quantity}
                    </td>
                    <td>
                        <f:format.currency currencySign="€">{item.price}</f:format.currency>
                    </td>
                    <td>
                        <f:format.currency currencySign="€">{item.totalPriceNet}</f:format.currency>
                    </td>
                    <td>
                        <f:format.number>{item.tax}</f:format.number> %
                    </td>
                    <td>
                        <f:format.currency currencySign="€">{item.totalPriceGross}</f:format.currency>
                    </td>
                    <td>
                        <span>
                            <a class="btn btn-default btn-sm"
                               href="{f:uri.action(action:'show', arguments:{item : item})}">
                                <core:icon identifier="actions-view" />
                            </a>
                        </span>
                        <span>
                            <a class="btn btn-default btn-sm"
                               href="{f:uri.action(action:'edit', arguments:{item : item})}">
                                <core:icon identifier="actions-open" />
                            </a>
                        </span>
                    </td>
                </tr>
            </f:for>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <f:translate key="tx_invoicr_domain_model_invoice.price"/>
                </td>
                <td>
                    <f:format.currency currencySign="€">{invoice.priceNet}</f:format.currency>
                </td>
                <td></td>
                <td>
                    <f:format.currency currencySign="€">{invoice.priceGross}</f:format.currency>
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <div>
        <f:if condition="{invoice.contentBelow}">
            <f:format.raw>{invoice.contentBelow}</f:format.raw>
        </f:if>
    </div>

</f:section>