<table class="table">
    <tr>
        <th>
            <f:translate key="tx_invoicr_domain_model_invoice.customer"/>
        </th>
        <td>
            <f:if condition="{invoice.customer}">
                {invoice.customer.number}
            </f:if>
        </td>
    </tr>
    <tr>
        <th>
            <f:translate key="tx_invoicr_domain_model_invoice.title"/>
        </th>
        <td>
            {invoice.title}
        </td>
    </tr>
    <tr>
        <th>
            <f:translate key="tx_invoicr_domain_model_invoice.invoice_number"/>
        </th>
        <td>
            {invoice.invoiceNumber}
        </td>
    </tr>
    <f:if condition="{invoice.description}">
        <tr>
            <td>
                <f:translate key="tx_invoicr_domain_model_invoice.description"/>
            </td>
            <td>
                {invoice.description}
            </td>
        </tr>
    </f:if>
    <tr>
        <th>
            <f:translate key="tx_invoicr_domain_model_invoice.period_of_performance"/>
        </th>
        <td>
            {invoice.beginPeriodOfPerformanceDate -> f:format.date(format:"{f:translate(key: 'tx_invoicr_domain_model_invoice.dateFormat' )}")} -
            {invoice.endPeriodOfPerformanceDate -> f:format.date(format:"{f:translate(key: 'tx_invoicr_domain_model_invoice.dateFormat' )}")}
        </td>
    </tr>
    <tr>
        <th>
            <f:translate key="tx_invoicr_domain_model_invoice.invoice_date"/>
        </th>
        <td>
            {invoice.invoiceDate -> f:format.date(format:"{f:translate(key: 'tx_invoicr_domain_model_invoice.dateFormat' )}")}
        </td>
    </tr>
    <tr>
        <th>
            <f:translate key="tx_invoicr_domain_model_invoice.terms_of_payment"/>
        </th>
        <td>
            {invoice.termsOfPayment}
        </td>
    </tr>
    <tr>
        <th>
            <f:translate key="tx_invoicr_domain_model_invoice.was_sent_at"/>
        </th>
        <td>
            {invoice.wasSentAt -> f:format.date(format:"{f:translate(key: 'tx_invoicr_domain_model_invoice.dateFormat' )}")}
        </td>
    </tr>
    <tr>
        <th>
            <f:translate key="tx_invoicr_domain_model_invoice.was_paid_at"/>
        </th>
        <td>
            {invoice.wasPaidAt -> f:format.date(format:"{f:translate(key: 'tx_invoicr_domain_model_invoice.dateFormat' )}")}
        </td>
    </tr>
</table>