<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="10mm">T:</td>
                    <td width="40mm">04261 41 43 263</td>
                </tr>
                <tr>
                    <td>M:</td>
                    <td>0171 69 787 59</td>
                </tr>
                <tr>
                    <td>F:</td>
                    <td>04261 184 251 19</td>
                </tr>
                <tr>
                    <td>E:</td>
                    <td>info@extco.de</td>
                </tr>
                <tr>
                    <td>W:</td>
                    <td>www.extco.de</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td width="10mm">Konto:</td>
                    <td width="40mm"></td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>DE04 2415 1235 0075 2331 55</td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>BRLADE21ROB</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td width="25mm">USt-IdNr.:</td>
                    <td width="25mm">DE271530901</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Geschäftsführer:</td>
                    <td>Daniel Lorenz</td>
                </tr>
                <tr>
                    <td>Registergericht:</td>
                    <td>Amtsgericht Walsrode</td>
                </tr>
                <tr>
                    <td>HRB:</td>
                    <td>205021</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
